body{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.25fr 0.5fr 2.25fr;
    margin:0%;
}
img{
    display:block;
    margin:auto;
    width: 250px;

 }

.imgg{
    background-color:black;
   
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right:5%;
    border-left:5%;
}

ul li{
    display:inline;
}

.p2{
    background-color:purple;
}